*{
  box-sizing: border-box;
}
:root{
  --clr: rgb(78, 78, 105);
}
body{
  margin: 0;
  background-color: var(--clr)
}

li{
  list-style: none;
}

.nav{
  background-color: white;
  width: 700px;
  height: 100px;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 1rem; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav ul li a:visited{
  color: black;
}

.nav ul{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.nav ul .nav-item{
  width: 100px;
  cursor: pointer;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav ul .nav-item a{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav-item a .item-icon{
  color: black;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  line-height: 75px;
}

.nav .nav-item.active a .item-icon{
  transform: translateY(-80px);
}

.nav .nav-item .item-name{
  /* display: none; */
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: absolute;
  top: 130px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-50px);
}

.nav .nav-item.active a .item-name{
  transform: translateY(-70px);
  opacity: 1;
}

.nav .nav-item.active .item-icon{
  padding: 3rem;  
  border-radius: 50%;
}
.nav .nav-item.active .item-name{
  display: block;
}

.indicator{
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  border: 8px solid var(--clr);
  background-color: #29fd53;
  transition: 0.5s;
}